## **GROUP ASSIGNMENT 1**

In [4]:
#imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
# read the data file
df = pd.read_csv('data.csv')

# Be able to see all the columns
pd.set_option('display.max_columns', None)

# see the first 20 columns
df.head(20)

/var/folders/bt/vkg37vm51db7424mjftzw2700000gn/T/ipykernel_63817/2113178754.py:2: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

,zid,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.00,Verified,01-12-2011,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,01-01-1985,1,NaN,NaN,3,0,13648,83.70,9,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.0000,01-01-2015,171.62,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.00,Source Verified,01-12-2011,n,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,01-04-1999,5,NaN,NaN,3,0,1687,9.40,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.1100,01-04-2013,119.66,NaN,01-09-2013,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.00,Not Verified,01-12-2011,n,NaN,small_business,real estate business,606xx,IL,8.72,0,01-11-2001,2,NaN,NaN,2,0,2956,98.50,10,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.0000,01-06-2014,649.91,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.00,Source Verified,01-12-2011,n,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,01-02-1996,1,35.0,NaN,10,0,5598,21.00,37,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.0000,01-01-2015,357.48,NaN,01-01-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.00,Source Verified,01-12-2011,n,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,01-01-1996,0,38.0,NaN,15,0,27783,53.90,38,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.0000,01-01-2016,67.79,01-02-2016,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,1075269,1311441,5000,5000,5000.0,36 months,7.90,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.00,Source Verified,01-12-2011,n,NaN,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,01-11-2004,3,NaN,NaN,9,0,7963,28.30,12,f,0.00,0.00,5631.377753,5631.38,5000.00,631.38,0.00,0.00,0.0000,01-01-2015,161.03,NaN,01-09-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,1069639,1304742,7000,7000,7000.0,60 months,15.96,170.08,C,C5,Southern Star Photography,8 years,RENT,47004.00,Not Verified,01-12-2011,n,Borrower added on 12/18/11 > I am planning o...,debt_consolidation,Loan,280xx,NC,23.51,0,01-07-2005,1,NaN,NaN,7,0,17726,85.60,11,f,1889.15,1889.15,8136.840000,8136.84,5110.85,3025.99,0.00,0.00,0.0000,01-01-2016,170.08,01-02-2016,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,1072053,1288686,3000,3000,3000.0,36 months,18.64,109.43,E,E1,MKC Accounting,9 years,RENT,48000.00,Source Verified,01-12-2011,n,Borrower added on 12/16/11 > Downpayment for...,car,Car Downpayment,900xx,CA,5.35,0,01-01-2007,2,NaN,NaN,4,0,8221,87.50,4,f,0.00,0.00,3938.144334,3938.14,3000.00,938.14,0.00,0.00,0.0000,01-01-2015,111.34,NaN,01-12-2014,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,1071795,1306957,5600,5600,5600.0,60 months,21.28,152.39,F,F2,NaN,4 years,OWN,40000.00,Source Verified,01-12-2011,n,Borrower added on 12/21/11 > I own a small h...,small_business,Expand Business & Buy Debt Portfolio,958xx,CA,5.55,0,01-04-2004,2,NaN,NaN,11,0,5210,32.60,13,f,0.00,0.00,646.020000,646.02,162.02,294.94,0.00,189.06,2.0900,01-04-2012,152.39,NaN,01-08-2012,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,1071570,1306721,5375,5375,5350.0,60 months,12.69,121.45,B,B5,Starbucks,< 1 year,RENT,15000.00,Verified,01-12-2011,n,Borrower added on 12/16/11 > I'm trying to b...,other,Building my credit history.,774xx,TX,18.08,0,01-09-2004,0,NaN,NaN,2,0,9279,36.50,3,f,0.00,0.00,1476.190000,1469.34,673.48,533.42,0.00,269.29,2.5200,01-11-2012,121.45,NaN,01-03-2013,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10,1070078,1305201,6500,6500,6500.0,60 months,14.65,153.45,C,C3,Southwest Rural metro,5 years,OWN,72000.00,Not Verified,01-12-2011,n,Borrower added on 12/15/11 > I had recived a...,debt_consolidation,High intrest Consolidation,853xx,AZ,16.12,0,01-01-1998,2,NaN,NaN,14,0,4032,20.60,23,f,0.00,0.00,7677.520000,7677.52,6500.00,1177.52,0.00,0.00,0.0000,01-06-2013,1655.54,NaN,01-12-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,1069908,1305008,12000,12000,12000.0,36 months,12.69,402.54,B,B5,UCLA,10+ years,OWN,75000.00,Source Verified,01-12-2011,n,NaN,debt_consolidation,Consolidation,913xx,CA,10.78,0,01-10-1989,0,NaN,NaN,12,0,23336,67.10,34,f,0.00,0.00,13943.080000,13943.08,12000.00,1943.08,0.00,0.00,0.0000,01-09-2013,6315.30,NaN,01-08-2013,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,1064687,1298717,9000,9000,9000.0,36 months,13.49,305.38,C,C1,Va. Dept of Conservation/Recreation,< 1 year,RENT,30000.00,Source Verified,01-12-2011,n,Borrower added on 12/15/11 > Plan to pay off...,debt_consolidation,freedom,245xx,VA,10.08,0,01-04-2004,1,NaN,NaN,4,0,10452,91.70,9,f,0.00,0.00,2270.700000,2270.70,1256.14,570.26,0.00,444.30,4.1600,01-07-2012,305.38,NaN,01-11-2012,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
13,1069866,1304956,3000,3000,3000.0,36 months,9.91,96.68,B,B1,Target,3 years,RENT,15000.00,Source Verified,01-12-2011,n,Borrower added on 12/19/11 > I intend to pay...,credit_card,citicard fund,606xx,IL,12.56,0,01-07-2003,2,NaN,NaN,11,0,7323,43.10,11,f,0.00,0.00,3478.981915,3478.98,3000.00,478.98,0.00,0.00,0.0000,01-01-2015,102.43,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,1069057,1303503,10000,10000,10000.0,36 months,10.65,325.74,B,B2,SFMTA,3 years,RENT,100000.00,Source Verified,01-12-2011,n,NaN,other,Other Loan,951xx,CA,7.06,0,01-05-1991,2,NaN,NaN,14,0,11997,55.50,29,f,0.00,0.00,7471.990000,7471.99,5433.47,1393.42,0.00,645.10,6.3145,01-10-2013,325.74,NaN,01-03-2014,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
15,1069759,1304871,1000,1000,1000.0,36 months,16.29,35.31,D,D1,Internal revenue Service,< 1 year,RENT,28000.00,Not Verified,01-12-2011,n,NaN,debt_consolidation,Debt Consolidation Loan,641xx,MO,20.31,0,01-09-2007,1,NaN,NaN,11,0,6524,81.50,23,f,0.00,0.00,1270.171106,1270.17,1000.00,270.17,0.00,0.00,0.0000,01-01-2015,36.32,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,1065775,1299699,10000,10000,10000.0,36 months,15.27,347.98,C,C4,Chin's Restaurant,4 years,RENT,42000.00,Not Verified,01-12-2011,n,NaN,home_improvement,Home,921xx,CA,18.60,0,01-10-1998,2,61.0,NaN,14,0,24043,70.20,28,f,0.00,0.00,12519.260450,12519.26,10000.00,2519.26,0.00,0.00,0.0000,01-01-2015,370.46,NaN,01-04-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,1069971,1304884,3600,3600,3600.0,36 months,6.03,109.57,A,A1,Duracell,10+ years,MORTGAGE,110000.00,Not Verified,01-12-2011,n,Borrower added on 12/15/11 > Payoff other le...,major_purchase,Holiday,067xx,CT,10.52,0,01-08-1993,0,NaN,NaN,20,0,22836,16.00,42,f,0.00,0.00,3785.020000,3785.02,3600.00,185.02,0.00,0.00,0.0000,01-05-2013,583.45,NaN,01-05-2014,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,1062474,1294539,6000,6000,6000.0,36 months,11.71,198.46,B,B3,Connection Inspection,1 year,MORTGAGE,84000.00,Verified,01-12-2011,n,Borrower added on 12/16/11 > This is a loan ...,medical,Medical,890xx,UT,18.44,2,01-10-2003,0,8.0,NaN,4,0,0,37.73,14,f,0.00,0.00,7164.499852,7164.50,6000.00,1149.50,15.00,0.00,0.0000,01-02-2015,16.98,NaN,01-07-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,1069742,1304855,9200,9200,9200.0,36 months,6.03,280.01,A,A1,Network Interpreting Service,6 years,RENT,77385.19,Not Verified,01-12-2011,n,NaN,debt_consolidation,lowerratemeanseasiertogetoutofdebt!,921xx,CA,9.86,0,01-01-2001,0,NaN,NaN,8,0,7314,23.10,28,f,0.00,0.00,9459.960000,9459.96,9200.00,259.96,0.00,0.00,0.0000,01-07-2012,8061.10,NaN,01-07-2012,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Look for all the NaN values

In [7]:
null_count_ser = pd.isnull(df).sum()
print(null_count_ser)

zid                      0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
total_rev_hi_lim     67313
inq_fi              842681
total_cu_tl         842681
inq_last_12m        842681
default_ind              0
Length: 73, dtype: int64

### Drop all columns with more than 50% null values

In [9]:
## Drop the columns with more than 50% missing values
# See initial shape of the dataframe
print(df.shape)

# Get the columns with more than 50% missing values
columns_to_drop = null_count_ser[null_count_ser > 0.5 * df.shape[0]].index

# Drop the columns
df.drop(columns_to_drop, axis=1, inplace=True)

# Check the shape of the dataframe
print(df.shape)

(855969, 73)
(855969, 52)

## CHANGES TO MAKE FOR OUR COLUMNS

### Drop other columns that are redundant
- emp_title
- title(?) ask tutor
- zip_code(?) ask tutor

### Columns to encode/change/normalise(?)
- dti: divide by 100, to make it 0.0 to 1.0, then perhaps group into bins (depends on stdev)
- earliest_cr_line: str to date

In [13]:
# see all the values of 'title'
df['title'].value_counts()

title
Debt consolidation           398089
Credit card refinancing      159228
Home improvement              38633
Other                         30522
Debt Consolidation            15469
                              ...
Unique Loan                       1
FINALLY HOPE                      1
Credit Card Debt be Gone!         1
get this debt paid off            1
Credit Card/Auto Repair           1
Name: count, Length: 60953, dtype: int64

In [17]:
df['delinq_2yrs'].value_counts()

delinq_2yrs
0     692685
1     108733
2      32076
3      11410
4       5077
5       2583
6       1399
7        732
8        438
9        269
10       179
11       116
12        87
13        57
14        44
15        26
16        17
18        11
17        10
19         8
22         3
26         2
24         1
29         1
21         1
30         1
20         1
27         1
39         1
Name: count, dtype: int64

In [10]:
df.head(20)

,zid,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,default_ind
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.00,Verified,01-12-2011,n,credit_card,Computer,860xx,AZ,27.65,0,01-01-1985,1,3,0,13648,83.70,9,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.0000,01-01-2015,171.62,NaN,01-01-2016,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.00,Source Verified,01-12-2011,n,car,bike,309xx,GA,1.00,0,01-04-1999,5,3,0,1687,9.40,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.1100,01-04-2013,119.66,NaN,01-09-2013,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,1
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.00,Not Verified,01-12-2011,n,small_business,real estate business,606xx,IL,8.72,0,01-11-2001,2,2,0,2956,98.50,10,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.0000,01-06-2014,649.91,NaN,01-01-2016,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.00,Source Verified,01-12-2011,n,other,personel,917xx,CA,20.00,0,01-02-1996,1,10,0,5598,21.00,37,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.0000,01-01-2015,357.48,NaN,01-01-2015,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.00,Source Verified,01-12-2011,n,other,Personal,972xx,OR,17.94,0,01-01-1996,0,15,0,27783,53.90,38,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.0000,01-01-2016,67.79,01-02-2016,01-01-2016,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
5,1075269,1311441,5000,5000,5000.0,36 months,7.90,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.00,Source Verified,01-12-2011,n,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,01-11-2004,3,9,0,7963,28.30,12,f,0.00,0.00,5631.377753,5631.38,5000.00,631.38,0.00,0.00,0.0000,01-01-2015,161.03,NaN,01-09-2015,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
6,1069639,1304742,7000,7000,7000.0,60 months,15.96,170.08,C,C5,Southern Star Photography,8 years,RENT,47004.00,Not Verified,01-12-2011,n,debt_consolidation,Loan,280xx,NC,23.51,0,01-07-2005,1,7,0,17726,85.60,11,f,1889.15,1889.15,8136.840000,8136.84,5110.85,3025.99,0.00,0.00,0.0000,01-01-2016,170.08,01-02-2016,01-01-2016,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
7,1072053,1288686,3000,3000,3000.0,36 months,18.64,109.43,E,E1,MKC Accounting,9 years,RENT,48000.00,Source Verified,01-12-2011,n,car,Car Downpayment,900xx,CA,5.35,0,01-01-2007,2,4,0,8221,87.50,4,f,0.00,0.00,3938.144334,3938.14,3000.00,938.14,0.00,0.00,0.0000,01-01-2015,111.34,NaN,01-12-2014,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
8,1071795,1306957,5600,5600,5600.0,60 months,21.28,152.39,F,F2,NaN,4 years,OWN,40000.00,Source Verified,01-12-2011,n,small_business,Expand Business & Buy Debt Portfolio,958xx,CA,5.55,0,01-04-2004,2,11,0,5210,32.60,13,f,0.00,0.00,646.020000,646.02,162.02,294.94,0.00,189.06,2.0900,01-04-2012,152.39,NaN,01-08-2012,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,1
9,1071570,1306721,5375,5375,5350.0,60 months,12.69,121.45,B,B5,Starbucks,< 1 year,RENT,15000.00,Verified,01-12-2011,n,other,Building my credit history.,774xx,TX,18.08,0,01-09-2004,0,2,0,9279,36.50,3,f,0.00,0.00,1476.190000,1469.34,673.48,533.42,0.00,269.29,2.5200,01-11-2012,121.45,NaN,01-03-2013,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,1
10,1070078,1305201,6500,6500,6500.0,60 months,14.65,153.45,C,C3,Southwest Rural metro,5 years,OWN,72000.00,Not Verified,01-12-2011,n,debt_consolidation,High intrest Consolidation,853xx,AZ,16.12,0,01-01-1998,2,14,0,4032,20.60,23,f,0.00,0.00,7677.520000,7677.52,6500.00,1177.52,0.00,0.00,0.0000,01-06-2013,1655.54,NaN,01-12-2015,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
11,1069908,1305008,12000,12000,12000.0,36 months,12.69,402.54,B,B5,UCLA,10+ years,OWN,75000.00,Source Verified,01-12-2011,n,debt_consolidation,Consolidation,913xx,CA,10.78,0,01-10-1989,0,12,0,23336,67.10,34,f,0.00,0.00,13943.080000,13943.08,12000.00,1943.08,0.00,0.00,0.0000,01-09-2013,6315.30,NaN,01-08-2013,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
12,1064687,1298717,9000,9000,9000.0,36 months,13.49,305.38,C,C1,Va. Dept of Conservation/Recreation,< 1 year,RENT,30000.00,Source Verified,01-12-2011,n,debt_consolidation,freedom,245xx,VA,10.08,0,01-04-2004,1,4,0,10452,91.70,9,f,0.00,0.00,2270.700000,2270.70,1256.14,570.26,0.00,444.30,4.1600,01-07-2012,305.38,NaN,01-11-2012,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,1
13,1069866,1304956,3000,3000,3000.0,36 months,9.91,96.68,B,B1,Target,3 years,RENT,15000.00,Source Verified,01-12-2011,n,credit_card,citicard fund,606xx,IL,12.56,0,01-07-2003,2,11,0,7323,43.10,11,f,0.00,0.00,3478.981915,3478.98,3000.00,478.98,0.00,0.00,0.0000,01-01-2015,102.43,NaN,01-01-2016,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
14,1069057,1303503,10000,10000,10000.0,36 months,10.65,325.74,B,B2,SFMTA,3 years,RENT,100000.00,Source Verified,01-12-2011,n,other,Other Loan,951xx,CA,7.06,0,01-05-1991,2,14,0,11997,55.50,29,f,0.00,0.00,7471.990000,7471.99,5433.47,1393.42,0.00,645.10,6.3145,01-10-2013,325.74,NaN,01-03-2014,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,1
15,1069759,1304871,1000,1000,1000.0,36 months,16.29,35.31,D,D1,Internal revenue Service,< 1 year,RENT,28000.00,Not Verified,01-12-2011,n,debt_consolidation,Debt Consolidation Loan,641xx,MO,20.31,0,01-09-2007,1,11,0,6524,81.50,23,f,0.00,0.00,1270.171106,1270.17,1000.00,270.17,0.00,0.00,0.0000,01-01-2015,36.32,NaN,01-01-2016,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
16,1065775,1299699,10000,10000,10000.0,36 months,15.27,347.98,C,C4,Chin's Restaurant,4 years,RENT,42000.00,Not Verified,01-12-2011,n,home_improvement,Home,921xx,CA,18.60,0,01-10-1998,2,14,0,24043,70.20,28,f,0.00,0.00,12519.260450,12519.26,10000.00,2519.26,0.00,0.00,0.0000,01-01-2015,370.46,NaN,01-04-2015,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
17,1069971,1304884,3600,3600,3600.0,36 months,6.03,109.57,A,A1,Duracell,10+ years,MORTGAGE,110000.00,Not Verified,01-12-2011,n,major_purchase,Holiday,067xx,CT,10.52,0,01-08-1993,0,20,0,22836,16.00,42,f,0.00,0.00,3785.020000,3785.02,3600.00,185.02,0.00,0.00,0.0000,01-05-2013,583.45,NaN,01-05-2014,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
18,1062474,1294539,6000,6000,6000.0,36 months,11.71,198.46,B,B3,Connection Inspection,1 year,MORTGAGE,84000.00,Verified,01-12-2011,n,medical,Medical,890xx,UT,18.44,2,01-10-2003,0,4,0,0,37.73,14,f,0.00,0.00,7164.499852,7164.50,6000.00,1149.50,15.00,0.00,0.0000,01-02-2015,16.98,NaN,01-07-2015,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
19,1069742,1304855,9200,9200,9200.0,36 months,6.03,280.01,A,A1,Network Interpreting Service,6 years,RENT,77385.19,Not Verified,01-12-2011,n,debt_consolidation,lowerratemeanseasiertogetoutofdebt!,921xx,CA,9.86,0,01-01-2001,0,8,0,7314,23.10,28,f,0.00,0.00,9459.960000,9459.96,9200.00,259.96,0.00,0.00,0.0000,01-07-2012,8061.10,NaN,01-07-2012,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0