## **GROUP ASSIGNMENT 1**

| Name      | UOW ID |
| ----------- | ----------- |
| Calaunan Alexander Jr Sumampong      | 7559161       |
| Deon Cham Hui Ern   | 7559471        |
| Elroy Chua Ming Xuan | 7431673 |
| Gonzales Raizel Vera Marie L. | 7436634 |

## Discover and Visualise the data

In [1]:
#imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# read the data file
df = pd.read_csv('data.csv')

# Be able to see all the columns
pd.set_option('display.max_columns', None)

# see the first 20 columns
df.head(20)

C:\Users\inver\AppData\Local\Temp\ipykernel_26012\2113178754.py:2: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.00,Verified,01-12-2011,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,01-01-1985,1,NaN,NaN,3,0,13648,83.70,9,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.0000,01-01-2015,171.62,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.00,Source Verified,01-12-2011,n,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,01-04-1999,5,NaN,NaN,3,0,1687,9.40,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.1100,01-04-2013,119.66,NaN,01-09-2013,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.00,Not Verified,01-12-2011,n,NaN,small_business,real estate business,606xx,IL,8.72,0,01-11-2001,2,NaN,NaN,2,0,2956,98.50,10,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.0000,01-06-2014,649.91,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.00,Source Verified,01-12-2011,n,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,01-02-1996,1,35.0,NaN,10,0,5598,21.00,37,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.0000,01-01-2015,357.48,NaN,01-01-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.00,Source Verified,01-12-2011,n,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,01-01-1996,0,38.0,NaN,15,0,27783,53.90,38,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.0000,01-01-2016,67.79,01-02-2016,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,1075269,1311441,5000,5000,5000.0,36 months,7.90,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.00,Source Verified,01-12-2011,n,NaN,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,01-11-2004,3,NaN,NaN,9,0,7963,28.30,12,f,0.00,0.00,5631.377753,5631.38,5000.00,631.38,0.00,0.00,0.0000,01-01-2015,161.03,NaN,01-09-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,1069639,1304742,7000,7000,7000.0,60 months,15.96,170.08,C,C5,Southern Star Photography,8 years,RENT,47004.00,Not Verified,01-12-2011,n,Borrower added on 12/18/11 > I am planning o...,debt_consolidation,Loan,280xx,NC,23.51,0,01-07-2005,1,NaN,NaN,7,0,17726,85.60,11,f,1889.15,1889.15,8136.840000,8136.84,5110.85,3025.99,0.00,0.00,0.0000,01-01-2016,170.08,01-02-2016,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,1072053,1288686,3000,3000,3000.0,36 months,18.64,109.43,E,E1,MKC Accounting,9 years,RENT,48000.00,Source Verified,01-12-2011,n,Borrower added on 12/16/11 > Downpayment for...,car,Car Downpayment,900xx,CA,5.35,0,01-01-2007,2,NaN,NaN,4,0,8221,87.50,4,f,0.00,0.00,3938.144334,3938.14,3000.00,938.14,0.00,0.00,0.0000,01-01-2015,111.34,NaN,01-12-2014,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,1071795,1306957,5600,5600,5600.0,60 months,21.28,152.39,F,F2,NaN,4 years,OWN,40000.00,Source Verified,01-12-2011,n,Borrower added on 12/21/11 > I own a small h...,small_business,Expand Business & Buy Debt Portfolio,958xx,CA,5.55,0,01-04-2004,2,NaN,NaN,11,0,5210,32.60,13,f,0.00,0.00,646.020000,646.02,162.02,294.94,0.00,189.06,2.0900,01-04-2012,152.39,NaN,01-08-2012,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,1071570,1306721,5375,5375,5350.0,60 months,12.69,121.45,B,B5,Starbucks,< 1 year,RENT,15000.00,Verified,01-12-2011,n,Borrower added on 12/16/11 > I'm trying to b...,other,Building my credit history.,774xx,TX,18.08,0,01-09-2004,0,NaN,NaN,2,0,9279,36.50,3,f,0.00,0.00,1476.190000,1469.34,673.48,533.42,0.00,269.29,2.5200,01-11-2012,121.45,NaN,01-03-2013,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10,1070078,1305201,6500,6500,6500.0,60 months,14.65,153.45,C,C3,Southwest Rural metro,5 years,OWN,72000.00,Not Verified,01-12-2011,n,Borrower added on 12/15/11 > I had recived a...,debt_consolidation,High intrest Consolidation,853xx,AZ,16.12,0,01-01-1998,2,NaN,NaN,14,0,4032,20.60,23,f,0.00,0.00,7677.520000,7677.52,6500.00,1177.52,0.00,0.00,0.0000,01-06-2013,1655.54,NaN,01-12-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,1069908,1305008,12000,12000,12000.0,36 months,12.69,402.54,B,B5,UCLA,10+ years,OWN,75000.00,Source Verified,01-12-2011,n,NaN,debt_consolidation,Consolidation,913xx,CA,10.78,0,01-10-1989,0,NaN,NaN,12,0,23336,67.10,34,f,0.00,0.00,13943.080000,13943.08,12000.00,1943.08,0.00,0.00,0.0000,01-09-2013,6315.30,NaN,01-08-2013,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,1064687,1298717,9000,9000,9000.0,36 months,13.49,305.38,C,C1,Va. Dept of Conservation/Recreation,< 1 year,RENT,30000.00,Source Verified,01-12-2011,n,Borrower added on 12/15/11 > Plan to pay off...,debt_consolidation,freedom,245xx,VA,10.08,0,01-04-2004,1,NaN,NaN,4,0,10452,91.70,9,f,0.00,0.00,2270.700000,2270.70,1256.14,570.26,0.00,444.30,4.1600,01-07-2012,305.38,NaN,01-11-2012,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
13,1069866,1304956,3000,3000,3000.0,36 months,9.91,96.68,B,B1,Target,3 years,RENT,15000.00,Source Verified,01-12-2011,n,Borrower added on 12/19/11 > I intend to pay...,credit_card,citicard fund,606xx,IL,12.56,0,01-07-2003,2,NaN,NaN,11,0,7323,43.10,11,f,0.00,0.00,3478.981915,3478.98,3000.00,478.98,0.00,0.00,0.0000,01-01-2015,102.43,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,1069057,1303503,10000,10000,10000.0,36 months,10.65,325.74,B,B2,SFMTA,3 years,RENT,100000.00,Source Verified,01-12-2011,n,NaN,other,Other Loan,951xx,CA,7.06,0,01-05-1991,2,NaN,NaN,14,0,11997,55.50,29,f,0.00,0.00,7471.990000,7471.99,5433.47,1393.42,0.00,645.10,6.3145,01-10-2013,325.74,NaN,01-03-2014,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
15,1069759,1304871,1000,1000,1000.0,36 months,16.29,35.31,D,D1,Internal revenue Service,< 1 year,RENT,28000.00,Not Verified,01-12-2011,n,NaN,debt_consolidation,Debt Consolidation Loan,641xx,MO,20.31,0,01-09-2007,1,NaN,NaN,11,0,6524,81.50,23,f,0.00,0.00,1270.171106,1270.17,1000.00,270.17,0.00,0.00,0.0000,01-01-2015,36.32,NaN,01-01-2016,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,1065775,1299699,10000,10000,10000.0,36 months,15.27,347.98,C,C4,Chin's Restaurant,4 years,RENT,42000.00,Not Verified,01-12-2011,n,NaN,home_improvement,Home,921xx,CA,18.60,0,01-10-1998,2,61.0,NaN,14,0,24043,70.20,28,f,0.00,0.00,12519.260450,12519.26,10000.00,2519.26,0.00,0.00,0.0000,01-01-2015,370.46,NaN,01-04-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,1069971,1304884,3600,3600,3600.0,36 months,6.03,109.57,A,A1,Duracell,10+ years,MORTGAGE,110000.00,Not Verified,01-12-2011,n,Borrower added on 12/15/11 > Payoff other le...,major_purchase,Holiday,067xx,CT,10.52,0,01-08-1993,0,NaN,NaN,20,0,22836,16.00,42,f,0.00,0.00,3785.020000,3785.02,3600.00,185.02,0.00,0.00,0.0000,01-05-2013,583.45,NaN,01-05-2014,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,1062474,1294539,6000,6000,6000.0,36 months,11.71,198.46,B,B3,Connection Inspection,1 year,MORTGAGE,84000.00,Verified,01-12-2011,n,Borrower added on 12/16/11 > This is a loan ...,medical,Medical,890xx,UT,18.44,2,01-10-2003,0,8.0,NaN,4,0,0,37.73,14,f,0.00,0.00,7164.499852,7164.50,6000.00,1149.50,15.00,0.00,0.0000,01-02-2015,16.98,NaN,01-07-2015,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,1069742,1304855,9200,9200,9200.0,36 months,6.03,280.01,A,A1,Network Interpreting Service,6 years,RENT,77385.19,Not Verified,01-12-2011,n,NaN,debt_consolidation,lowerratemeanseasiertogetoutofdebt!,921xx,CA,9.86,0,01-01-2001,0,NaN,NaN,8,0,7314,23.10,28,f,0.00,0.00,9459.960000,9459.96,9200.00,259.96,0.00,0.00,0.0000,01-07-2012,8061.10,NaN,01-07-2012,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [3]:
# Check datatype of all cols in df
df.dtypes

id                    int64
member_id             int64
loan_amnt             int64
funded_amnt           int64
funded_amnt_inv     float64
                     ...
total_rev_hi_lim    float64
inq_fi              float64
total_cu_tl         float64
inq_last_12m        float64
default_ind           int64
Length: 73, dtype: object

In [4]:
# Display statistics of the data
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
count,8.559690e+05,8.559690e+05,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,8.559690e+05,855969.000000,855969.000000,855969.000000,416157.000000,131184.000000,855969.000000,855969.000000,8.559690e+05,855523.000000,855969.000000,855969.000000,855969.000000,855969.000000,855969.00000,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,855913.000000,213139.000000,855969.0,442.000000,442.000000,855969.000000,7.886560e+05,7.886560e+05,13288.000000,13288.000000,13288.000000,13288.000000,12934.000000,13288.000000,11609.000000,13288.000000,13288.000000,13288.000000,13288.000000,7.886560e+05,13288.000000,13288.000000,13288.000000,855969.000000
mean,3.224073e+07,3.476269e+07,14745.571335,14732.378305,14700.061226,13.192320,436.238072,7.507119e+04,18.122165,0.311621,0.680915,34.149943,70.463959,11.542447,0.194537,1.691053e+04,55.019405,25.269269,8284.830230,8281.449347,7653.296336,7622.22052,5850.841088,1755.046221,0.319530,47.089499,4.951227,2225.985295,0.014230,44.101450,1.0,107412.163982,18.362036,0.004944,2.254129e+02,1.397662e+05,1.072998,2.945665,0.749323,1.666767,20.833153,36511.541391,71.486993,1.354305,2.945515,5840.443332,61.024526,3.216357e+04,0.947772,1.524232,1.841963,0.054286
std,2.271969e+07,2.399418e+07,8425.340005,8419.471653,8425.805478,4.368365,243.726876,6.426447e+04,17.423629,0.857189,0.964033,21.868500,27.827120,5.308094,0.581585,2.222374e+04,23.811585,11.818841,8461.946669,8458.496422,7909.383591,7885.15640,6676.410888,2081.692980,3.609399,413.136043,62.478569,4864.966593,0.133712,22.164907,0.0,47987.608637,7.235026,0.077333,1.048945e+04,1.539385e+05,1.206939,3.080330,0.986169,1.685394,26.739237,42492.757796,23.015293,1.483710,2.595313,5108.500262,20.018117,3.769964e+04,1.441667,2.697601,2.975049,0.226581
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,5.320000,15.690000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,17950.000000,3.050000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-4.000000,0.000000
25%,9.067986e+06,1.079273e+07,8000.000000,8000.000000,8000.000000,9.990000,260.550000,4.500000e+04,11.880000,0.000000,0.000000,15.000000,51.000000,8.000000,0.000000,6.469000e+03,37.600000,17.000000,0.000000,0.000000,1969.690000,1960.12000,1239.950000,451.270000,0.000000,0.000000,0.000000,285.420000,0.000000,27.000000,1.0,75000.250000,13.190000,0.000000,0.000000e+00,2.987000e+04,0.000000,1.000000,0.000000,0.000000,6.000000,10390.250000,58.500000,0.000000,1.000000,2405.000000,47.900000,1.400000e+04,0.000000,0.000000,0.000000,0.000000
50%,3.431355e+07,3.697532e+07,13000.000000,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.610000,0.000000,0.000000,31.000000,70.000000,11.000000,0.000000,1.190300e+04,55.900000,24.000000,6290.250000,6287.650000,4976.160000,4948.25000,3286.890000,1076.910000,0.000000,0.000000,0.000000,468.820000,0.000000,44.000000,1.0,100000.000000,17.750000,0.000000,0.000000e+00,8.100850e+04,1.000000,2.000000,0.000000,1.000000,12.000000,24959.500000,75.000000,1.000000,2.000000,4485.500000,62.100000,2.380000e+04,0.000000,0.000000,2.000000,0.000000
75%,5.446311e+07,5.803559e+07,20000.000000,20000.000000,20000.000000,15.990000,571.560000,9.000000e+04,23.900000,0.000000,1.000000,50.000000,92.000000,14.000000,0.000000,2.085700e+04,73.500000,32.000000,13528.800000,13522.510000,10744.803650,10697.33000,8000.000000,2233.980000,0.000000,0.000000,0.000000,849.160000,0.000000,61.000000,1.0,130750.000000,22.650000,0.000000,0.000000e+00,2.087032e+05,2.000000,4.000000,1.000000,2.000000,23.000000,47493.000000,87.500000,2.000000,4.000000,7701.250000,75.300000,3.990000e+04,1.000000,2.000000,3.000000,0.000000
max,6.861687e+07,7.351969e+07,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,8.000000,188.000000,129.000000,90.000000,86.000000,2.904836e+06,892.300000,169.000000,49372.860000,49372.860000,57777.579870,57777.58000,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,20.000000,188.000000,1.0,410000.000000,43.860000,14.000000,9.152545e+06,8.000078e+06,12.000000,40.000000,12.000000,15.000000,300.000000,634217.000000,223.300000,22.000000,43.000000,83047.000000,151.400000,9.999999e+06,15.000000,33.000000,32.000000,1.000000

In [5]:
# Show all columns that have missing values
df.isnull().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
total_rev_hi_lim     67313
inq_fi              842681
total_cu_tl         842681
inq_last_12m        842681
default_ind              0
Length: 73, dtype: int64

## Visualizing the Data

In [ ]:
## @raizel TO-DO data visualization, perform the following:
### 1. Plot the distribution of the target variable and each of the features 
### 2. Plot the correlation matrix 
### 3. Plot the boxplots of the target variable and each of the features
### 4. Plot the scatterplots of the target variable versus each of the features 
## ^ all suggestions, you can pick and choose depending on what you think is important and edit as you see fit

### Perform Correlations

In [ ]:
from scipy.stats import pointbiserialr
import scipy.stats

# List of numerical features for point-biserial correlation
numerical_features = [
    'loan_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'emp_length',
    'annual_inc', 'dti', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal',
    'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
    'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
    'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
    'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
    'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'
]

# List of categorical features for Cramer's V correlation
categorical_features = [
    'grade', 'sub_grade', 'emp_length', 'verification_status', 'pymnt_plan', 'purpose',
    'delinq_2yrs', 'initial_list_status', 'policy_code', 'application_type'
]

# # Compute Cramer's V correlations with the target attribute for categorical features
# Define Cramer's V function
def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x, y)
    chi2 = scipy.stats.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    phi2corr = max(0, phi2 - ((k - 1) * (r - 1)) / (n - 1))
    rcorr = r - ((r - 1) ** 2) / (n - 1)
    kcorr = k - ((k - 1) ** 2) / (n - 1)
    return np.sqrt(phi2corr / min((kcorr - 1), (rcorr - 1)))

# Compute Cramer's V for all the categorical features
cramers_v_features = pd.Series(index=categorical_features)
for column in categorical_features:
    cramers_v_features[column] = cramers_v(df[column], df['default_ind'])

# Compute point-biserial correlations with the target attribute for numerical features
point_biserial_correlations = pd.Series(index=numerical_features)
for column in numerical_features:
    point_biserial_correlations[column] = pointbiserialr(df[column], df['default_ind'])[0]

# Sort the correlations in descending order
cramers_v_features_sorted = cramers_v_features.sort_values(ascending=False)
point_biserial_correlations_sorted = point_biserial_correlations.sort_values(ascending=False)

# Display the sorted results
print("\nPoint-Biserial Correlations (sorted):")
print(point_biserial_correlations_sorted)

# Display the sorted results
print("\nCramer's V Correlation (sorted):")
print(cramers_v_features_sorted)

# Combine the results into a single DataFrame
all_correlations = pd.concat([point_biserial_correlations_sorted, cramers_v_features_sorted])
all_correlations = all_correlations.sort_values(ascending=False)

print("\nAll Correlations (sorted):")
print(all_correlations)

### Correlations Visualised

In [ ]:
# HEATMAP OF CORRELATIONS
# Step 1: Create a new DataFrame with the combined correlation values
correlation_df = pd.DataFrame({'correlation': all_correlations})

# Step 2: Create a Seaborn heatmap to visualize the correlation matrix
plt.figure(figsize=(1, 12))
sns.heatmap(correlation_df, annot=True, cmap='coolwarm', center=0, fmt='.2f')
plt.title('Correlation Heatmap with Default_ind')
plt.show()

## Admin stuff before we start
- Change the values of 'term' column into int type
- Change all the dates from str to datetime type

In [3]:
# Specify the data types for columns with mixed types
dtype_dict = {'pymnt_plan': 'str', 'last_pymnt_amnt': 'float', 'dti_joint': 'float'}

# Import the CSV file with specified data types
df = pd.read_csv('data.csv', dtype=dtype_dict)

# Change the values of 'term' into integers
df['term'] = df['term'].str.replace('months', '').astype(int)

# Chnage the type of 'issue_d' to datetime
df['issue_d'] = pd.to_datetime(df['issue_d'])
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'])
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'])
df['next_pymnt_d'] = pd.to_datetime(df['next_pymnt_d'])
df['last_credit_pull_d'] = pd.to_datetime(df['last_credit_pull_d'])

C:\Users\inver\AppData\Local\Temp\ipykernel_26012\1447985201.py:5: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv', dtype=dtype_dict)

## Preprocessing Pipeline 

- Drop ID columns (id, member_id, emp_title, title, zip_code, desc) 
- Deal with missing data 
    - Remove mostly-null columns (cols with >50% missing data)
    - Median impute (via SimpleImputer)
- OneHotEncode categorical (nominal) columns; ordinal for categorical (ordinal) data  
- Scale data (via StandardScaler)

In [4]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
import pandas as pd

class CustomTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.num_imputer = SimpleImputer(strategy="median")
        self.cat_imputer = SimpleImputer(strategy="most_frequent")
        self.oneHot_encoder = OneHotEncoder()
        self.ordinal_encoder = OrdinalEncoder()
        self.scaler = StandardScaler()

        # Categorical columns
        self.cat_cols = None
        self.ord_cols = None

        # Numerical columns
        self.num_cols = None

    def drop_rdnt_columns(self, X):
        # Drop redundant columns
        return X.drop(['id', 'member_id', 'emp_title', 'title', 'zip_code', 'desc'], axis=1)
    
    def drop_mostly_emp_columns(self, X):
        # Drop columns with >50% missing values
        cols_to_drop = X.columns[X.isnull().mean() > 0.5]
        return X.drop(cols_to_drop, axis=1, inplace=True)
    
    def fit(self, X, y=None):
        # Find categorical and numeric columns
        self.cat_cols = X.select_dtypes(include='object').columns.tolist()
        self.num_cols = X.select_dtypes(include='number').columns.tolist()

        # List of ordinal columns
        self.ord_cols = ['emp_length', 'grade', 'sub_grade']

        # Remove ordinal columns from categorical columns
        self.cat_cols = [col for col in self.cat_cols if col not in self.ord_cols]

        # print categorical and numeric columns
        print("Categorical (nominal) columns: ", self.cat_cols)
        print("Numeric columns: ", self.num_cols)
        
        # Fill missing values for numerical columns
        X[self.num_cols] = self.num_imputer.fit_transform(X[self.num_cols])
        # Fill missing values for ordinal columns
        X[self.ord_cols] = self.cat_imputer.fit_transform(X[self.ord_cols])
        # Fill missing values for categorical (nominal) columns
        X[self.cat_cols] = self.cat_imputer.fit_transform(X[self.cat_cols])

        # fit the encoder for nominal columns
        self.oneHot_encoder.fit(X[self.cat_cols])
        # fit the ordinal encoder
        self.ordinal_encoder.fit(X[self.ord_cols])
        # Fit the StandardScaler
        self.scaler.fit(X[self.num_cols])
        
        return self
    
    def transform(self, X, y=None):
        # Impute missing data in numeric columns
        X[self.num_cols] = self.num_imputer.transform(X[self.num_cols])
        
        # One-hot encode categorical columns
        categorical_data = self.oneHot_encoder.transform(X[self.cat_cols]).toarray()
        X = X.drop(columns=self.cat_cols)
        X = pd.concat([X, pd.DataFrame(categorical_data, columns=self.oneHot_encoder.get_feature_names_out(self.cat_cols))], axis=1)
        
        # Ordinal encode ordinal columns
        X[self.ord_cols] = self.ordinal_encoder.transform(X[self.ord_cols])

        # Scale numeric data
        X[self.num_cols] = self.scaler.transform(X[self.num_cols])
        
        return X
    
    def fit_transform(self, X, y=None):
        # Drop columns and remove mostly-null columns before fitting and transforming 
        X = self.drop_rdnt_columns(X)
        self.drop_mostly_emp_columns(X)
        
        return self.fit(X, y).transform(X, y)

In [5]:
# Transforming data with a custom transformer

# Instantiate and use the CustomTransformer
transformer = CustomTransformer()

X = df.drop(columns=['default_ind'])  # Features
y = df['default_ind']  # Target column

# Fit and transform the data
df = transformer.fit_transform(X, y)

Categorical (nominal) columns:  ['home_ownership', 'verification_status', 'pymnt_plan', 'purpose', 'addr_state', 'initial_list_status', 'application_type']
Numeric columns:  ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim']

In [9]:
# Check the head of the processed data
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,annual_inc,issue_d,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,pymnt_plan_y,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,addr_state_AK,addr_state_AL,addr_state_AR,addr_state_AZ,addr_state_CA,addr_state_CO,addr_state_CT,addr_state_DC,addr_state_DE,addr_state_FL,addr_state_GA,addr_state_HI,addr_state_IA,addr_state_ID,addr_state_IL,addr_state_IN,addr_state_KS,addr_state_KY,addr_state_LA,addr_state_MA,addr_state_MD,addr_state_ME,addr_state_MI,addr_state_MN,addr_state_MO,addr_state_MS,addr_state_MT,addr_state_NC,addr_state_ND,addr_state_NE,addr_state_NH,addr_state_NJ,addr_state_NM,addr_state_NV,addr_state_NY,addr_state_OH,addr_state_OK,addr_state_OR,addr_state_PA,addr_state_RI,addr_state_SC,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,initial_list_status_f,initial_list_status_w,application_type_INDIVIDUAL,application_type_JOINT
0,-1.156698,-1.155938,-1.154200,-0.652755,-0.581985,-1.121617,1.0,6.0,1.0,-0.794704,2011-01-12,0.546834,-0.363538,1985-01-01,0.330990,-1.609326,-0.334495,-0.146804,1.204776,-1.376554,-0.97907,-0.979069,-0.226595,-0.227065,-0.127440,-0.429447,-0.088527,-0.113981,-0.079247,2015-01-01,-0.422278,NaT,2016-01-01,-0.106423,0.0,-0.063932,-0.020627,-0.3643,-0.212535,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,-1.453422,-1.452869,-1.447941,1.531967,0.475620,-1.544386,2.0,13.0,10.0,-0.701340,2011-01-12,-0.982699,-0.363538,1999-01-04,4.480228,-1.609326,-0.334495,-0.685012,-1.916368,-1.799608,-0.97907,-0.979069,-0.840090,-0.838730,-0.807977,-0.634040,-0.088527,0.169413,-0.061481,2013-01-04,-0.432958,NaT,2013-01-09,-0.106423,0.0,-0.063932,-0.020627,-0.3643,-0.212535,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,-1.465291,-1.464746,-1.459809,-0.652755,0.633574,-1.443863,2.0,14.0,1.0,-0.977511,2011-01-12,-0.539622,-0.363538,2001-01-11,1.368299,-1.797718,-0.334495,-0.627911,1.826484,-1.291944,-0.97907,-0.979069,-0.587864,-0.585730,-0.516871,-0.553106,-0.088527,-0.113981,-0.079247,2014-01-06,-0.323964,NaT,2016-01-01,-0.106423,0.0,-0.063932,-0.020627,-0.3643,-0.212535,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,-0.563250,-0.562076,-0.557818,-0.652755,0.068145,-0.397692,2.0,10.0,1.0,-0.402574,2011-01-12,0.107775,-0.363538,1996-01-02,0.330990,-0.290584,-0.334495,-0.509029,-1.429083,0.992546,-0.97907,-0.979069,0.578175,0.583892,0.621466,0.218228,4.613089,-0.113981,-0.079247,2015-01-01,-0.384074,NaT,2015-01-01,-0.106423,0.0,-0.063932,-0.020627,-0.3643,-0.212535,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,-1.394078,-1.393482,-1.388599,1.531967,-0.114990,-1.511726,1.0,9.0,0.0,0.076696,2011-01-12,-0.010455,-0.363538,1996-01-01,-0.706319,0.651374,-0.334495,0.489228,-0.047042,1.077156,-0.88844,-0.888403,-0.557708,-0.555481,-0.541869,-0.358351,-0.088527,-0.113981,-0.079247,2016-01-01,-0.443620,2016-01-02,2016-01-01,-0.106423,0.0,-0.063932,-0.020627,-0.3643,-0.212535,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [7]:
# Check for shape of the data
print(df.shape)

# Check for missing values of the processed data 
print(df.isnull().sum())

(855969, 119)
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
                              ..
addr_state_WY                  0
initial_list_status_f          0
initial_list_status_w          0
application_type_INDIVIDUAL    0
application_type_JOINT         0
Length: 119, dtype: int64

## Select and Train Models

In [10]:
# Select features for model
features = ['recoveries', 'collection_recovery_fee', 'int_rate', 
            'total_rec_late_fee', 'sub_grade', 'grade', 
            'initial_list_status_f', 'initial_list_status_w', 
            'out_prncp_inv', 'out_prncp', 'next_pymnt_d']

# create a new dataframe with only selected features
features_df = df[features]

## Train-Test Split (via stratified sampling)

In [16]:
# Perform stratified sampling on the data
from sklearn.model_selection import StratifiedShuffleSplit

# split the data 2/3 for training and 1/3 for testing
split = StratifiedShuffleSplit(n_splits=1, test_size=1/3,random_state=42)
for train_index, test_index in split.split(features_df, y):
    X_train, X_test = features_df.iloc[train_index], features_df.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

# Confirm split was successful via percentage of each class in training and test sets
print("Training set: ", len(X_train)/len(features_df), "\nTest set: ", len(X_test)/len(features_df))
print("Training set: ", len(y_train)/len(y), "\nTest set: ", len(y_test)/len(y))

print("\nTraining set: ", len(X_train), "\nTest set: ", len(X_test))
print("Training set: ", len(y_train), "\nTest set: ", len(y_test))

Training set:  0.6666666666666666
Test set:  0.3333333333333333
Training set:  0.6666666666666666
Test set:  0.3333333333333333

Training set:  570646
Test set:  285323
Training set:  570646
Test set:  285323

### KNN Model - Predict whether a person will default or not

In [19]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, auc, f1_score

# Define the KNN model
classifier = KNeighborsClassifier(n_neighbors=5, p=2, metric='euclidean')

# Specify numeric features only
numeric_features = ['recoveries', 'collection_recovery_fee', 'int_rate', 'total_rec_late_fee', 
                    'out_prncp_inv', 'out_prncp']

# make new dataframe with only numeric features
X_train_num = X_train[numeric_features]

# Fit the model on the selected features.
classifier.fit(X_train_num, y_train)

# Make predictions on the test data
y_pred = classifier.predict(X_test[numeric_features])  

# Evaluate the classification model
print('Accuracy: {:.2f}'.format(accuracy_score(y_test, y_pred)))
print('F1 score: {:.2f}'.format(f1_score(y_test, y_pred)))
print('Confusion matrix:')
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.97
F1 score: 0.68
Confusion matrix:
[[269020    814]
 [  7089   8400]]
              precision    recall  f1-score   support

           0       0.97      1.00      0.99    269834
           1       0.91      0.54      0.68     15489

    accuracy                           0.97    285323
   macro avg       0.94      0.77      0.83    285323
weighted avg       0.97      0.97      0.97    285323

In [ ]:
# ROC curve
y_pred_proba = classifier.predict_proba(X_test)[::,1]
fpr, tpr, _ = roc_curve(y_test,  y_pred_proba)
auc = auc(fpr, tpr)
plt.plot(fpr,tpr,label="auc="+str(auc))
plt.legend(loc=4)
plt.show()

# Plot confusion matrix
cm = confusion_matrix(y_test, y_pred)
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.show()

# Plot ROC curve
fpr, tpr, thresholds = roc_curve(y_test, y_pred_proba)
plt.plot(fpr, tpr, label='KNN')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('KNN ROC Curve')
plt.legend()
plt.show()

# Plot F1 score
f1 = f1_score(y_test, y_pred)
plt.bar(['KNN'], [f1], color='orange')
plt.xlabel('Model')
plt.ylabel('F1 Score')
plt.title('KNN F1 Score')
plt.show()

# Plot accuracy
acc = accuracy_score(y_test, y_pred)
plt.bar(['KNN'], [acc], color='orange')
plt.xlabel('Model')
plt.ylabel('Accuracy')
plt.title('KNN Accuracy')
plt.show()